<!-- filepath: c:\Users\HP\Desktop\Project\backend\templates\sign_up-02.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin_Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'orgcss/sign_up-02.css' %}">
</head>

<body>
    <!-- Administrator Details -->
    <div class="regist_form">
        <div class="Admin-info-heading">
            <p>Administrator Information</p>
        </div>
        <div>
            <form name="myForm" onsubmit="return validateForm()" method="post" >
                {% csrf_token %} 
                <div class="details">
                    <div>
                        <!-- Admin Name -->
                        {{ form.name_of_admin.label_tag }} {{ form.name_of_admin }}
                        <span class="formerror" id="adminNameError"></span>
                    </div>
                    <div>
                        <!-- DOB -->
                        {{ form.date_of_birth.label_tag }} {{ form.date_of_birth }}
                        <span class="formerror" id="dobError"></span>
                    </div>
                    <div>
                        <!-- Gender -->
                        {{ form.gender.label_tag }} {{ form.gender }}
                        <span class="formerror" id="genderError"></span>
                    </div>
                </div>

                <div class="details">
                    <div>
                        <!-- College Name -->
                        {{ form.institution_name.label_tag }} {{ form.institution_name }}
                        <span class="formerror" id="clgNameError"></span>
                    </div>
                    <div>
                        <!-- Branch -->
                        {{ form.branch.label_tag }} {{ form.branch }}
                        <span class="formerror" id="branchError"></span>
                    </div>
                    <div>
                        <!-- CollegeId -->
                        {{form.college_id.label_tag}} {{form.college_id}}
                        <span class="formerror" id="clgIdError"></span>
                    </div>
                </div>

                <div class="details">
                    <div>
                        <!-- Phone Number -->
                        {{ form.contact_number.label_tag }} {{ form.contact_number }}
                        <span class="formerror" id="phNumError"></span>
                    </div>
                    <div>
                        <!-- Email -->
                        {{ form.email_address_of_admin.label_tag }} {{ form.email_address_of_admin }}
                        <span class="formerror" id="emailError"></span>
                    </div>
                    <div>
                        <!-- Position or Title -->
                        {{ form.position_or_title.label_tag }} {{ form.position_or_title }}
                        <span class="formerror" id="positionError"></span>
                    </div>
                </div>

                <!-- Team Info -->
                <div class="team-info-title">
                    <p>Team Information</p>
                </div>

                <div>
                    <p class="detail-heading">Secretary Details</p>
                </div>

                <div class="details">
                    <div>
                        <!-- Secretary Name -->
                        {{ form.secretary_name.label_tag }} {{ form.secretary_name }}
                        <span class="formerror" id="secNameError"></span>
                    </div>
                    <div>
                        <!-- Secretary Phone Number -->
                        {{ form.phone_number.label_tag }} {{ form.phone_number }}
                        <span class="formerror" id="phoneNumError"></span>
                    </div>
                    <div>
                        <!-- Secretary Email -->
                        {{ form.email_address_of_secretary.label_tag }} {{ form.email_address_of_secretary }}
                        <span class="formerror" id="secEmailError"></span>
                    </div>
                </div>

                <!-- Team Member Details -->
                <div>
                    <p class="detail-heading">Team Member Details</p>
                </div>

                <div class="details">
                    <div>
                        <!-- Team Member Name -->
                        {{ form.team_member_1_name.label_tag }} {{ form.team_member_1_name }}
                        <span class="formerror" id="tmName1Error"></span>
                    </div>
                    <div>
                        <!-- Team Member Phone Number -->
                        {{ form.contact_number_of_member_1.label_tag }} {{ form.contact_number_of_member_1 }}
                        <span class="formerror" id="tmPhoneNum1Error"></span>
                    </div>
                    <div>
                        <!-- Team Member Email -->
                        {{ form.email_address_of_member_1.label_tag }} {{ form.email_address_of_member_1 }}
                        <span class="formerror" id="tmEmail1Error"></span>
                    </div>
                </div>

                <div>        
                    <button type="button" id="prevButton">Prev</button>
                    <button type="submit" id="submitButton">Next</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'orgjs/sign_up-02.js' %}"></script>
</body>
</html>