{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'usercss/login.css' %}">
</head>
<body >
    <div class="container">
    <form name="form" action="index.html" onsubmit="return validated()">
        <h1>LOGIN</h1>
        <div class="alter">
            <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
        <input type="email" autocomplete="off" name="email" required/>
        <label>Email:</label>
        </div>
        <div class="alter">
            <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
            <input type="password" name="password" required/>
            <label>Password</label>
        </div>
        <div class="remember-forgot">
            <label><input type="checkbox">Remember me?</label>
            <a class="rem" href="#">Forgot Password?</a>
        </div><br>
        <button class="mybut">Login</button>
    </form>
    </div>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src={% static 'login.js' %}></script>
</body>
</html>